@model MovieMediaItemModel

<div class="media">
  <div class="pull-left">
    <img class="media-object" alt="movie poster" src="@Model.ProfilePosterUrl">
  </div>
  <div class="media-body">
    <h2 class="media-heading"></h2>
    @if (Model.Cast != null && Model.Cast.Any())
    {
      <h4>Cast</h4>
      <p>@Html.Raw(string.Join("<br/>", Model.Cast.Select(c => Html.Encode(c))))</p>
    }
  </div>
</div>