<form class="large-search" action="@Url.Action("Index", "Search")" method="GET">
  <input name="q" type="text" class="large-search span11" placeholder="search for a movie" autocomplete="off" />
  <button type="submit" class="btn btn-success btn-search"><i class="icon-search"></i></button>
</form>