@model SearchResultsModel

<div class="row">
  <div class="span12">
    <!-- _SearchForm Partial Here -->
  </div>
</div>
<div class="row">
  <div class="span12">
    <h2>Search Results for ""</h2>
  </div>
</div>