@model SignInForm
@{
  ViewBag.Title = "Sign In to the Sequel Shack";
}

<div class="row">
  <div class="span12">
    <div class="row">
      @<!-- Render form tag here -->
      {
        @Html.AntiForgeryToken()
        <div class="span4">
          <fieldset>
            <legend>Sign In</legend>

            <label for="RememberMe" class="checkbox">
               Remember me?
            </label>

            <div class="form-actions no-bottom-margin">
              <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
          </fieldset>
        </div>
      }
    </div>
  </div>
</div>